body{
    background-color: black; 
    border-color: rgb(47, 51, 54); 
    margin-left: 16px;
    font-family: Arial,sans-serif;
    padding: 0;
    box-sizing: border-box;
}

.wd-bookmarks .wd-title{
    color: white;
    margin-top: 12px;
    font-size: 20px;
}

.wd-bookmarks .wd-profile-name{
    color: rgb(68, 68, 68);
    font-size: 13px;
    padding-bottom: 12px;
    border-bottom: 1px;
    border-bottom-color: lightgray;
    border-bottom-style: solid;
}

.wd-bookmarks .wd-post{
    margin-top: 12px;
    clear: both;
}

.wd-bookmarks .wd-post .wd-avatar-img{
    float: left;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-right: 12px;
}

.wd-bookmarks .wd-post .wd-post-content{
    color: white;
    font-size: 15px;
    margin-left: 60px;
}

.wd-bookmarks .wd-post .wd-post-content .wd-summary-block{
    border: 1px solid rgb(68, 68, 68);
    width: 506px;
    border-radius: 20px;
    margin-bottom: 12px;
}

.wd-bookmarks .wd-post .wd-post-content .wd-username{
    color: rgb(110, 110, 110);
}

.wd-bookmarks .wd-post .wd-post-content .wd-user-content{
    overflow: hidden;
    width: 506px;
    margin-bottom: 12px;
}

.wd-bookmarks .wd-post .wd-post-content .wd-img{
    width: 504px;
    height: 264px;
    border-radius: 20px;
    margin-bottom: 12px;
}

.wd-bookmarks .wd-post .wd-post-content .wd-summary-group{
    font-size: 15px;
    padding: 12px;
}

.wd-bookmarks .wd-post .wd-post-content .wd-summary-title{
    font-size: 15px;
}

.wd-bookmarks .wd-post .wd-post-content .wd-summary{
    color: rgb(110, 110, 110);
}

.wd-bookmarks .wd-post .wd-post-content .wd-icon-box{
    display: flex;
    justify-content: space-between;
    width: 506px;
    margin-bottom: 12px;
}

.wd-bookmarks .wd-post .wd-post-content .wd-icon-box .wd-icon-element .wd-a-link{
    text-decoration: none;
    color: rgb(66, 66, 66);
}

.wd-bookmarks .wd-post .wd-post-content .wd-icon-box .wd-icon-element .wd-space-wrap{
    margin-left: 12px;
}

#wd-red{
    color:red;
}
