.basic-avatar{
    height: 4rem;
    width: 4rem;
}

.basic-fullimage{
    border: 0.1rem solid;
    border-color: rgb(112, 112, 112);
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    
}

.basic-fullimage1{
    border: 0.1rem solid;
    border-color: rgb(112, 112, 112);
    border-radius: 1.5rem;
}

.basic-removepadding{
    margin-bottom: 0;
  }
  
.basic-posttitle{
    border: 0.1rem solid;
    border-color: rgb(112, 112, 112);
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}