
 .fa-stack.small { font-size: 0.5em; }

.wd-explore .wd-search{
    position: relative;
}


.wd-explore .wd-search input {
height: 2.3rem;
border-radius: 1.1rem;
}

.wd-explore .wd-search input[type='text']::-webkit-input-placeholder {
    color: rgb(105, 104, 104);
    vertical-align: middle;
  }
  

.wd-explore .wd-search .fa.fa-search {
position: absolute;
top: 0.7rem;
left: 0.8rem;
}

.image-container {
    position: relative;
    text-align: center;
    color: white;
  }

.bottom-left {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
  }

  .bs-bold{
      font-weight: 700;
      margin-bottom: 0.2rem;
  }

.pav-button{
    border-radius: 3em;
}

.pav-logo{
    height: 4rem;
}